.mt50 {
	margin-top: 50px;
}

#bounce {
	width: 200px;
	height: 200px;
	background-color: green;
	border: 2px solid black;
	margin-bottom: 20px;
}

#explode{
	width: 200px;
	height: 200px;
	background-color: blue;
	border: 2px solid black;
	margin-bottom: 20px;
}

#puff{
	width: 200px;
	height: 200px;
	background-color: tomato;
	border: 2px solid black;
	margin-bottom: 20px;
}
#pic2 {
	display: none;
}
#radius {
	width: 200px;
	height: 200px;
	background-color: orange;
	border: 2px solid black;
	margin-bottom: 20px;
}
.addrad {
	border-radius: 10em;
}
#radius1 {
	width: 200px;
	height: 200px;
	background-color: silver;
	border: 2px solid black;
	margin-bottom: 20px;
}

#switch {
	width: 200px;
	height: 200px;
	background-color: yellow;
	border: 2px solid black;
	margin-bottom: 20px;
}

.switch{
	font-size: 25px;
	color: red;
	padding-left: 10px;
}

.switch1{
	color: green;
	border-radius: 50%;
	font-size: 15px;
	line-height: 200px;
	text-align: center;
}
#anim{
	width: 200px;
	height: 200px;
	background-color: grey;
	border: 2px solid black;
	margin-bottom: 20px;
	color: red;
	font-size: 18px;
	text-align: center;
}

#dialog {
	display: none;
}
.highlight {
	background-color: yellow;
}

#sort1, #sort2 {
	list-style-type: none;
}

#sort1 li, #sort2 li {
	margin-top: 10px;
	padding: 10px;
}